
/* Секция oakley */



/*Секция digits*/
.digits {
  justify-content: center;
  margin: 100px auto;
}

.section-title {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* Секция kaufman*/

.kaufman {
  overflow: hidden;
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  min-height: max-content;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto;
}
.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  margin-right: 0;
  color: white;
  margin-top: 80px;
}

/* Секция Footer */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
  position: relative;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0 0 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  margin: 20px auto 16px 0;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  background: rgb(155, 154, 152);
}

.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__social-icon {
  margin-right: 10px;
}
