.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  z-index: 10;
}

.logo_place_header {
  margin: 0 auto;
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
}

/* Блок title*/
.header__title {
  margin: auto 0;
  position: relative;
  align-self: center;
  height: min-content;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 13;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0 auto;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background: #2f80ed;
  z-index: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Секция description */
.description {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  height: min-content;
}

.two-columns__brief {
  width: 175px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 auto 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-column__span-accept {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*Секция digits*/
.digits {
  justify-content: center;
  margin: 100px auto;
}

.section-title {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 60px auto 0;
  flex-wrap: wrap;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Feyman */
.feynman {
  position: relative;
  margin: 0 auto;
  min-height: 790px;
  background: #f2f2f2;
  z-index: -2;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  z-index: 9;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Секция kaufman*/

.kaufman {
  overflow: hidden;
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  min-height: max-content;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto;
}
.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  margin-right: 0;
  color: white;
  margin-top: 80px;
}

/* Секция Footer */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
  position: relative;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0 0 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  margin: 20px auto 16px 0;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__social-icon {
  margin-right: 10px;
}
